<div class="container">

  <div class="row">
    <div class="col-6 left">

      <form>
        <label for="fname">Mobile Number</label>
        <input type="text" id="fname"  [(ngModel)]="inputs.mobile" name="fname" >
        <label for="lname">Booked Date</label>
        <input type="date"  [(ngModel)]="inputs.date" id="birthday" name="birthday" class="date">
      </form>
            <p *ngIf="!dataFe">{{errorMsg}}</p>
      <button class="btn btn-primary" (click)="getMyTickets()">Get Tickets</button>

    </div>
    <div class="col-6 right" >

       <img *ngIf="!dataFe" class="imag_popcorn" src="../../../assets/popcorn.jpg" />

      <table *ngIf="dataFe" class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Date of Movie</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tick of details; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{tick.movieDetails.movieName}}</td>
            <td>{{tick.movieDetails.date}}</td>
            <td>{{tick.movieDetails.time}}</td>
            <td><p (click)="onViewTicket(i)">View</p></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

