#hdbf6feede{
    display: flex;
}
#sddfc3er{
    display: flex;
}
#exsrrrf{
    width: 200px;
    height: 23px;
}
#jdrv7667t{
    font-size: 15px;
    color: blue;
    cursor: pointer;
    padding: 2px;
}
#jdrv7667t :hover {
    color:rgb(39, 29, 12);
    background-color: blanchedalmond;
    width: fit-content;
}

