<div [id]="'hello'">
  <div><a routerLink="classbinding">class Binding</a></div>
  <div><a routerLink="propertybinding">property Binding</a></div>
  <div><a routerLink="stylebinding">style Binding</a></div>
  <div><a routerLink="databinding">interpolation Binding</a></div>
  <div><a routerLink="attripte">Attribute Bind</a></div>
  <div><a routerLink="eventbinding">Event Bind</a></div>

  <div><a routerLink="directives"> Directives</a></div>
  <div><a routerLink="parant">Child Routing</a></div>


</div>
<div [id]="'content'">
  <router-outlet></router-outlet>
</div>


